In [77]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [78]:
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [79]:
# Combine the data into a single dataset
mouse_data_df = pd.merge(mouse_metadata, study_results, how='outer', on='Mouse ID')

# Display the data table for preview
mouse_data_df.head(20)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
6,k403,Ramicane,Male,21,16,30,31.099498,1
7,k403,Ramicane,Male,21,16,35,26.546993,1
8,k403,Ramicane,Male,21,16,40,24.365505,1
9,k403,Ramicane,Male,21,16,45,22.050126,1
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
15,s185,Capomulin,Female,3,17,25,33.949940,0
16,s185,Capomulin,Female,3,17,30,32.959671,1
17,s185,Capomulin,Female,3,17,35,28.328531,1
18,s185,Capomulin,Female,3,17,40,25.472143,1
19,s185,Capomulin,Female,3,17,45,23.343598,1

In [80]:
# Checking the number of mice.
mouse_data_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [81]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Found DataFrame.duplicated in web search - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

#mouse_unique = mouse_data_df.duplicated(["Mouse ID","Timepoint"]),"Mouse ID".unique()

mouse_unique = mouse_data_df.loc[mouse_data_df.duplicated(["Mouse ID","Timepoint"]),"Mouse ID"].unique()

mouse_unique

array(['g989'], dtype=object)

In [23]:
# Optional: Get all the data for the duplicate mouse ID. 
# Come back to if time.

In [82]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# mouse_drop = mouse_data_df.drop_duplicates(mouse_unique)
# mouse_drop = mouse_data_df.drop_duplicates[[mouse_unique]]
# mouse_drop = mouse_data_df.loc[mouse_data_df.drop_duplicates(["Mouse ID"]),"g989"]
# mouse_clean = mouse_data_df.drop_duplicates(["Mouse ID"]) - Kills ALL duplicate Mouse IDs

mouse_clean = mouse_data_df.drop_duplicates(["Mouse ID", "Timepoint"])

In [83]:
# Checking to see if dropping duplicate worked

mouse_clean.loc[mouse_data_df.duplicated(["Mouse ID","Timepoint"]),"Mouse ID"].unique()

array([], dtype=object)

In [84]:
# Another check to see how mouse counts were effected.  Numbers are good after the drop.

mouse_clean.count()

Mouse ID              1888
Drug Regimen          1888
Sex                   1888
Age_months            1888
Weight (g)            1888
Timepoint             1888
Tumor Volume (mm3)    1888
Metastatic Sites      1888
dtype: int64

In [85]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

mouse_mean = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].mean()
mouse_mean

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.393463
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [86]:
mouse_median = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].median()
mouse_median

Drug Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.909965
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor Volume (mm3), dtype: float64

In [87]:
mouse_variance = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].var()
mouse_variance

Drug Regimen
Capomulin    24.947764
Ceftamin     39.290177
Infubinol    43.128684
Ketapril     68.553577
Naftisol     66.173479
Placebo      61.168083
Propriva     43.138803
Ramicane     23.486704
Stelasyn     59.450562
Zoniferol    48.533355
Name: Tumor Volume (mm3), dtype: float64

In [88]:
mouse_stddev = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].std()
mouse_stddev

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.568014
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [89]:
mouse_sem = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].sem()
mouse_sem

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.525862
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64

In [90]:
mouse_summary_df = pd.DataFrame({"Mean": mouse_mean,
                                "Median": mouse_median,
                                "Variance": mouse_variance,
                                "Standard Dev": mouse_stddev,
                                "SEM": mouse_sem})

mouse_summary_df["Mean"] = mouse_summary_df["Mean"].map('{:.2f}'.format)
mouse_summary_df["Median"] = mouse_summary_df["Median"].map('{:.2f}'.format)
mouse_summary_df["Variance"] = mouse_summary_df["Variance"].map('{:.2f}'.format)
mouse_summary_df["Standard Dev"] = mouse_summary_df["Standard Dev"].map('{:.2f}'.format)
mouse_summary_df["SEM"] = mouse_summary_df["SEM"].map('{:.2f}'.format)

mouse_summary_df

               Mean Median Variance Standard Dev   SEM
Drug Regimen
Capomulin     40.68  41.56    24.95         4.99  0.33
Ceftamin      52.59  51.78    39.29         6.27  0.47
Infubinol     52.88  51.82    43.13         6.57  0.49
Ketapril      55.24  53.70    68.55         8.28  0.60
Naftisol      54.33  52.51    66.17         8.13  0.60
Placebo       54.03  52.29    61.17         7.82  0.58
Propriva      52.39  50.91    43.14         6.57  0.53
Ramicane      40.22  40.67    23.49         4.85  0.32
Stelasyn      54.23  52.43    59.45         7.71  0.57
Zoniferol     53.24  51.82    48.53         6.97  0.52

In [110]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regiment
# Using the aggregation method, produce the same summary statistics in a single line

#FAILS
#mouse_method_df = (mouse_clean.groupby('Drug Regimen').agg(['Mean', 'Median', 'Varianace', 'Standard Dev', 'SEM'])['Tumor Volume (mm3)']) 
#mouse_method = mouse_clean.groupby('Drug Regimen')
#mouse_method_df = mouse_method.agg(['Mean', 'Median', 'Varianace', 'Standard Dev', 'SEM'])['Tumor Volume (mm3)']
#mouse_method_df = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].agg(['Mean', 'Median', 'Varianace', 'Standard Dev', 'SEM'])
#mouse_summary_df.agg(['Mean', 'Median', 'Varianace', 'Standard Dev', 'SEM'])
#mouse_summary = pd.to_numeric(mouse_summary_df)
#mouse_method_df = mouse_clean.agg(['mean', 'median', 'var', 'std', 'sem'])['Tumor Volume (mm3)']

mouse_method_df = mouse_clean.groupby('Drug Regimen')['Tumor Volume (mm3)'].agg(['mean', 'median', 'var', 'std', 'sem'])

mouse_method_df["mean"] = mouse_method_df["mean"].map('{:.2f}'.format)
mouse_method_df["median"] = mouse_method_df["median"].map('{:.2f}'.format)
mouse_method_df["var"] = mouse_method_df["var"].map('{:.2f}'.format)
mouse_method_df["std"] = mouse_method_df["std"].map('{:.2f}'.format)
mouse_method_df["sem"] = mouse_method_df["sem"].map('{:.2f}'.format)

mouse_method_df

               mean median    var   std   sem
Drug Regimen
Capomulin     40.68  41.56  24.95  4.99  0.33
Ceftamin      52.59  51.78  39.29  6.27  0.47
Infubinol     52.88  51.82  43.13  6.57  0.49
Ketapril      55.24  53.70  68.55  8.28  0.60
Naftisol      54.33  52.51  66.17  8.13  0.60
Placebo       54.03  52.29  61.17  7.82  0.58
Propriva      52.39  50.91  43.14  6.57  0.53
Ramicane      40.22  40.67  23.49  4.85  0.32
Stelasyn      54.23  52.43  59.45  7.71  0.57
Zoniferol     53.24  51.82  48.53  6.97  0.52